@font-face {
  font-family: "VCR OSD Mono";
  src: url(../font/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
  font-family: Minecraft;
  src: url(../font/Minecraft.ttf);
}

body {
  color: floralwhite;
  box-sizing: border-box;
  background-color: #2d2d2d;
}

#rumours {
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  width: 700px;
  @media (max-width: 360px) {
    width: 360px;
  }
}

#pauseCurtain {
  position: absolute;
  width: 640px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.5);
}

#pauseText {
  font-family: VCR OSD Mono;
  font-weight: normal;
  font-size: 200%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 37%;
}