@font-face {
  font-family: "VCR OSD Mono";
  src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}

@mixin border($width: 1px, $style: solid, $color: black) {
  border: $width $style $color;
}

@mixin borderradius($radius: .5em) {
  border-radius: $radius;
}

@mixin textstroke($width: 1px, $color: black) {
  -webkit-text-stroke: $width $color; 
  text-stroke: $width $color;
}

@mixin textshadow($width: 1px, $height: 1px, $blur: 1px, $color: black) {
  text-shadow: $width $height $blur $color;
}

body {
  color: floralwhite;
  box-sizing: border-box;
  background-color: black;
  font-family: VCR OSD Mono;
}

h2 {
  font-weight: normal;
}

#rumours {
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  width: 700px;
}

#pauseCurtain {
  position: absolute;
  width: 640px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.5);
}

#pauseMenu {
  font-family: VCR OSD Mono;
  position: absolute;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  @include border(3px, solid, darkgoldenrod);
  @include borderradius;
  div {
    position: relative;
  }
  div:first-of-type {
    padding-top: 1em;
  }
  a {
    padding: .5em;
    color: floralwhite;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }
}

#auxWindow {
  font-family: VCR OSD Mono;
  position: absolute;
  display: none;
  left: 31%;
  width: 60%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 1em;
  @include border(3px, solid, darkgoldenrod);
  @include borderradius;
  a {
    padding: .5em;
    color: floralwhite;
    text-decoration: none;
    display: inline-block;
    width: 40%;
  }
}

%selector {
  font-size: 80%;
  display:inline-block;
  width: 2em;
  vertical-align: top;
}

.selector {
  @extend %selector;
}

.innerSelector {
  @extend %selector;
}

.rumourSelector {
  @extend %selector;
}

.throwSelector {
  @extend %selector;
}

.introSelector {
  @extend %selector;
}

#pauseText {
  font-family: VCR OSD Mono;
  font-weight: normal;
  font-size: 200%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 37%;
}

#dialogWindow {
  font-family: VCR OSD Mono;
  display: none;
  position: absolute;
  width: 88%;
  height: 30%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 1em;
  @include border(3px, solid, darkgoldenrod);
  @include borderradius;
  a {
    display: block;
    padding: .5em;
    color: floralwhite;
    text-decoration: none;
  }
  select {
    cursor: pointer;
    font-family: "Bookman Old Style";
    margin-top: 1em;
  }
}

#rumourMenuChoices {
  position: relative;
  bottom: 0;
  padding-left: 50%;
  a {
    display: inline-block;
    padding: .5em;
    color: floralwhite;
    text-decoration: none;
    width: 30%;
  }
}

#statusWindow {
  font-family: VCR OSD Mono;
  display: none;
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 1em;
  @include border(3px, solid, darkgoldenrod);
  @include borderradius;
}

#rumourChoices {
  cursor: pointer;
}

.title {
  position: absolute;
  font-size: 64px;
  top: 10%;
  left: 25%;
  @include textstroke(1px, darkgoldenrod);
  @include textshadow;
}

.subtitle {
  position: absolute;
  top: 28%;
  left: 14%;
}

.copyright {
  position: absolute;
  font-size: 12px;
  top: 37%;
  left: 35%;
}

.introMenu {
  margin-left: 33%;
  &:first-of-type {
    margin-top: 2%;
  }
}